{% extends 'pages/main.html' %}
{% block title%}Contact{% endblock %}

{% block content%} 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" cellspacing="0" cellpadding="0" width="1209" style="height: 510px;">
<tbody>
<tr style="height: 316px;">
<td width="33%" valign="top" style="border: 0px; width: 33%; height: 316px;"><span style="text-decoration: underline;"><strong>Office</strong></span>
<p>De Steven 51-53 <br>9206 AX Drachten <br>The Netherlands <br><a rel="noopener noreferrer" href="https://www.google.nl/maps/place/SMST/@51.2995726,4.4906058,6.29z/data=!4m5!3m4!1s0x47c851abc0a4183d:0x3c2d9327ad43cdca!8m2!3d53.1115599!4d6.0528083?hl=en" target="_blank">Google Maps</a><br><br>Phone: <a href="tel:+31512591000">+31 (0) 512 59 10 00</a> <br>Fax: +31 (0) 512 59 10 50 <br>E-mail: <a href="mailto:info@smst.nl" class="linkmodel5">info@smst.nl </a></p>
<div class="clear"><strong><span style="text-decoration: underline;"><br></span><span style="text-decoration: underline;">Service</span><br></strong></div>
<div class="clear"></div>
<div class="clear">For <strong>URGENT SERVICE (24/7)</strong></div>
<div class="clear">call Aftersales:</div>
<div class="clear">Phone: <strong><a href="tel:+31655371272">+31 (0) 655 37 12 72</a></strong></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"></div>
<div class="clear"><br>For general service inquiries</div>
<div class="clear">contact Aftersales:</div>
<div class="clear">Phone: <a href="tel:+31512591000">+31 (0) 512 59 10 00</a></div>
<div class="clear">E-mail: <a href="mailto:aftersales@smst.nl" class="linkmodel4">aftersales@smst.nl</a></div>
<div class="clear"></div>
</td>
<td width="33%" valign="top" style="border: 0px; width: 33%; height: 316px;"><span style="text-decoration: underline;"><strong>Post address</strong></span>
<p>PO Box 575 <br>9200 AN Drachten <br>The Netherlands<br><br><br><br><br><br></p>
</td>
</tr>
<tr>
<td style="border: 0px; width: 33%;"> </td>
<td style="border: 0px; width: 33%;"> </td>
</tr>
<tr>
<td style="border: 0px; width: 33%;"> </td>
<td style="border: 0px; width: 33%;"> </td>
</tr>
<tr>
<td style="border: 0px; width: 33%;"> </td>
<td style="border: 0px; width: 33%;"> </td>
</tr>
<tr style="height: 21px;">
<td style="border: 0px; width: 33%; height: 21px;"> </td>
<td style="border: 0px; width: 33%; height: 21px;"> </td>
</tr>
</tbody>
</table>
{% endblock %} 