{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <a href="/"><img src="{% static 'images/logo.svg' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      
      {% if perms.auth.delete_user %}
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Databases</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/list">Total Databases</a>
            <a class="dropdown-item" href="/filter">ASO Configuration</a>
            <a class="dropdown-item" href="/compare">Compare</a>
            <a class="dropdown-item" href="/copy">Intelligence Copy Project</a>
          </div>
      </li>
        <li>
        <button type="button" class="btn btn-dark text-blue" data-toggle="modal" data-target="#exampleModal_5">
          Log out
        </button>
        </li>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you want to log out this user?
              </div>
              <div class="modal-footer">
                <a href="/logout"><button type="button" class="btn btn-primary" >YES</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
              </div>
            </div>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li>
          <a class="nav-item nav-link disabled" href="#">Welcome {{user.username}}</a>
        </li>
      </form>
      {% elif user.username %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Databases</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/list">Total Databases</a>
            <a class="dropdown-item" href="/filter">ASO Configuration</a>
            <a class="dropdown-item" href="/compare">Compare</a>            
          </div>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <li>
        <button type="button" class="btn btn-dark text-blue" data-toggle="modal" data-target="#exampleModal_6">
          Log out
        </button>
        </li>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log out</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Do you want to log out this user?
              </div>
              <div class="modal-footer">
                <a href="/logout"><button type="button" class="btn btn-primary" >YES</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
              </div>
            </div>
          </div>
        </div>
        <li>
          <a class="nav-item nav-link disabled" href="#"> Welcome {{user.username}}</a>
        </li>
      </form>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
      </form>
      {% endif %}
    </ul>
  </div>
</nav>