<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-success mb-5" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total ASO_Configuration</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_ASO_Configuration}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-secondary mb-5" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total LU_Category</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_LU_Category}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-warning mb-5" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total LU_Items</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_LU_Item}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-primary mb-5" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total LU_Products</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_Product}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white bg-info mb-5" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total LU_Values</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_LU_Value}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>